Source: droid4-wlanconfig
Section: droid4
Priority: optional
Build-Depends: debhelper
Maintainer: Uvos <carl@uvos.xyz>
Standards-Version: 4.3.0

Package: droid4-wlanconfig
Section: droid4
Architecture: all
Depends:
 ti-utils-wilink6,
 bash,
 sed,
Description: Device specific config and script for generating droid 4 / maserati wl1285 wlan chip's nvs file
